/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            bindings = <
//                       ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                           &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P
//                       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                           &hml LCTRL A  &hml LALT S   &hml LGUI D   &hml LSHFT F  HPR_G             HPR_H         &hmr RSHFT J  &hmr RGUI  K  &hmr RALT L   &hmr RCTRL SEMI
//                       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                           &kp Z         &kp X         &kp C         &kp V         &kp B             &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH
//                       ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                                     NAV_SPC       NUM_TAB           &lt FUN BSPC  &lt BRAC SPACE
//                                                                 ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };

        nav_layer {
            label = "NAV";
            bindings = <
//                       ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                           XXX           XXX           XXX           XXX           XXX               XXX           &kp HOME      &kp PG_DN     &kp PG_UP     &kp END
//                       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                           &kp LCTRL     &kp LALT      &kp LGUI      &kp LSHFT     LHPR              XXX           &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT
//                       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                           XXX           XXX           XXX           XXX           XXX               XXX           XXX           XXX           XXX           XXX
//                       ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                                     XXX           XXX               &kp BSPC      &kp SPACE
//                                                                 ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };

        num_layer {
            label = "NUM";
            bindings = <
//                       ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                           XXX           XXX           XXX           XXX           XXX               XXX           &kp N7        &kp N8        &num9_morph   &kp MINUS
//                       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                           &kp LCTRL      &kp LALT      &kp LGUI     &kp LSHFT     LHPR              XXX           &kp N4        &kp N5        &kp N6        &kp PLUS
//                       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                           XXX           XXX           XXX           XXX           XXX               &num0_morph   &kp N1        &kp N2        &kp N3        &kp BSLH
//                       ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                                     XXX           XXX               &kp BSPC      &kp SPACE
//                                                                 ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };

        brac_layer {
            label = "BRAC";
            bindings = <
//                       ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                           XXX           XXX           &kp LPAR      &kp RPAR      XXX               XXX           XXX           XXX           XXX           XXX
//                       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                           &kp LT        &kp GT        &kp LBRC      &kp RBRC      XXX               RHPR          &kp RSHFT     &kp LGUI      &kp LALT      &kp RCTRL
//                       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                           XXX           XXX           &kp LBKT      &kp RBKT      XXX               XXX           XXX           XXX           XXX           XXX
//                       ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                                     &kp SPACE     &kp TAB           XXX           XXX
//                                                                 ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };

        fun_layer {
            label = "FUN";
            bindings = <
//                       ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                           &kp F12       &kp F7        &kp F8        &kp F9        XXX               XXX           XXX           XXX           XXX           XXX
//                       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                           &kp F11       &kp F4        &kp F5        &kp F6        XXX               RHPR          &kp RSHFT     &kp LGUI      &kp LALT      &kp RCTRL
//                       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                           &kp F10       &kp F1        &kp F2        &kp F3        XXX               XXX           XXX           XXX           XXX           XXX
//                       ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                                     &kp SPACE     &kp TAB           XXX           XXX
//                                                                 ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };
    };
};
